@model IEnumerable<ApartmentFinder.Models.TenantViewModel>

@{
    ViewData["Title"] = "Tenant Listing";
}

<h1>Tenant List</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.address.Street1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.address.Street2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tenant.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tenant.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.listing.MonthlyRate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.lease.Status)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.address.Street1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.address.Street2)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.tenant.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.tenant.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.listing.MonthlyRate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.lease.Status)
                </td>
            </tr>
        }
    </tbody>
</table>
