@model ApartmentFinder.Models.Utility

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Utility</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UtilityType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UtilityType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Website)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Website)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EstMonRate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EstMonRate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.UtilityID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
