@model IEnumerable<ApartmentFinder.Models.Utility>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UtilityType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Website)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EstMonRate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UtilityType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Website)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstMonRate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.UtilityID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.UtilityID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.UtilityID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
